<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${headerTitle}">Formicarium</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
<div class="dashboard-container">
    <!-- Sidebar -->
    <div class="dashboard-sidebar">
        <h2 class="sidebar-title">Formicarium</h2>
        <nav class="sidebar-nav">
            <a th:href="@{/dashboard}" class="sidebar-link" th:classappend="${headerTitle == 'Dashboard' ? 'active' : ''}">Dashboard</a>
            <a th:href="@{/profile}" class="sidebar-link" th:classappend="${headerTitle == 'Profile' ? 'active' : ''}">Profile</a>
            <a th:href="@{/settings}" class="sidebar-link" th:classappend="${headerTitle == 'Settings' ? 'active' : ''}">Settings</a>
            <a th:href="@{/projects}" class="sidebar-link" th:classappend="${headerTitle == 'Projects' ? 'active' : ''}">Projects</a>
            <a th:href="@{/tasks/page}" class="sidebar-link"
               th:classappend="${headerTitle == 'Tasks' ? 'active' : ''}">Tasks</a>
            <a th:href="@{/logs}" class="sidebar-link" th:classappend="${headerTitle == 'Logs' ? 'active' : ''}">Logs</a>
            <a th:href="@{/chat}" class="sidebar-link" th:classappend="${headerTitle == 'Group Chats' ? 'active' : ''}">Group Chats</a>
            <a th:href="@{/reports}" class="sidebar-link" th:classappend="${headerTitle == 'Reports' ? 'active' : ''}">Reports</a>
        </nav>
    </div>

    <div class="dashboard-main">
        <!-- Header -->
        <div class="dashboard-header">
            <div class="header-title" th:text="${headerTitle}">Header</div>
            <div class="user-info">>
                <img th:src="@{'https://api.dicebear.com/9.x/dylan/svg?seed=' + ${#authentication.principal.avatarSeed}}"
                     alt="User Avatar" class="user-avatar" />
                <span sec:authentication="name" class="user-name">User</span>
                <form th:action="@{/logout}" method="post" class="logout-form">
                    <button type="submit" class="btn btn-sm btn-warning">Logout</button>
                </form>
            </div>
        </div>

        <div class="dashboard-content" layout:fragment="content">

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

