<div class="card">
    <h3 th:text="${headerTitle}">Project Form</h3>
    <form th:action="@{/projects/form}" th:object="${project}" method="post">
        <input type="hidden" th:name="id" th:value="${project.id}" />

        <div class="mb-3">
            <label for="name" class="form-label">Project Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter project name" th:value="${project.name}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" name="description" class="form-control" placeholder="Enter project description" th:text="${project.description}"></textarea>
        </div>

        <div class="mb-3">
            <label for="isActive" class="form-label">Active</label>
            <input type="checkbox" id="isActive" name="active" th:checked="${project.active}">
        </div>

        <div class="mb-3">
            <label for="deadline" class="form-label">Deadline</label>
            <input type="date" id="deadline" name="deadline" class="form-control" th:value="${project.deadline}" required>
        </div>
        <button type="submit" class="btn btn-custom">Save Project</button>

    </form>
</div>
