<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="base">
<head>
    <title th:text="${headerTitle}">Project Details - Formicarium</title>
</head>
<body>
<div layout:fragment="content">
    <div class="project-page">
        <!-- antet cu numele proiectului -->
        <div th:replace="~{fragments/HeaderFragment :: project-header(project=${project}, isOwner=${isOwner})}"></div>

        <!-- sectiunea de membri -->
        <div th:replace="~{fragments/MembersFragment :: project-members(project=${project}, isOwner=${isOwner}, isCollaborator=${isCollaborator})}"></div>

        <!-- sectiunea de mesaje recente -->
        <div th:replace="~{fragments/MessagesFragment :: project-messages(recentMessages=${recentMessages})}"></div>

        <!-- sectiunea cu detalii generale -->
        <div th:replace="~{fragments/DetailsFragment :: project-details(project=${project})}"></div>

        <!-- sectiunea cu sarcini recente -->
        <div th:replace="~{fragments/TasksFragment :: project-tasks(recentTasks=${recentTasks}, projectId=${project.id})}"></div>

        <!-- sectiunea cu module personalizate -->
        <div th:replace="~{fragments/ModulesFragment :: project-modules(project=${project}, isOwner=${isOwner})}"></div>
    </div>
</div>
</body>
</html>
